body {font-family: Helvetica;
text-align: center;}

.main {background-image: url('../images/the-flatiron-building.png');}
h1 {font-size: 70px;
font-weight: bold;
color: white;}

.main h2 {color: white;
font-size: 23px;
font-weight: bold;}


.nav-link {font-size: 18px;
  color: white;}

.footer {text-align: left;
background-color: dimgray;
color: white;
font-size: 11px;}

p {font-size: 14px;}
